n8n-workflows/alarm-handler.json
{
  "name": "Notra 24 — Alarm Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alarm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook — Alarm Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM customers WHERE device_id_hub = '{{ $json.device_id }}' OR device_id_mobile = '{{ $json.device_id }}' LIMIT 1",
        "options": {}
      },
      "id": "postgres-lookup",
      "name": "PostgreSQL — Customer Lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Notra24 DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-customer",
      "name": "IF — Customer Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-hb",
              "leftValue": "={{ $('Webhook — Alarm Received').item.json.event_type }}",
              "rightValue": "heartbeat",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-heartbeat",
      "name": "IF — Heartbeat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO device_heartbeats (device_id, customer_id, device_type, status, raw_payload) VALUES ('{{ $('Webhook — Alarm Received').item.json.device_id }}', '{{ $('PostgreSQL — Customer Lookup').item.json.id }}', 'hub', 'online', '{{ JSON.stringify($('Webhook — Alarm Received').item.json) }}')",
        "options": {}
      },
      "id": "postgres-heartbeat",
      "name": "PostgreSQL — Save Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 100],
      "credentials": {
        "postgres": { "id": "1", "name": "Notra24 DB" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://notra-app:3000/api/alarm/incoming",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({...($('Webhook — Alarm Received').item.json), customer_id: $('PostgreSQL — Customer Lookup').item.json.id}) }}",
        "options": {}
      },
      "id": "http-nextjs",
      "name": "HTTP — Forward to Next.js",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-critical",
              "leftValue": "={{ $('Webhook — Alarm Received').item.json.event_type }}",
              "rightValue": "sos",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-fall",
              "leftValue": "={{ $('Webhook — Alarm Received').item.json.event_type }}",
              "rightValue": "fall",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "if-critical",
      "name": "IF — SOS or Fall?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://notra-freepbx/admin/api/api.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"request\":\"originate\",\"channel\":\"Local/800@from-internal\",\"exten\":\"800\",\"context\":\"from-internal\",\"priority\":1,\"async\":true}",
        "options": {}
      },
      "id": "freepbx-call",
      "name": "FreePBX — Call Operators",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "seconds"
      },
      "id": "wait-120s",
      "name": "Wait 120s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status FROM cases WHERE id = '{{ $('HTTP — Forward to Next.js').item.json.data.case_id }}' LIMIT 1",
        "options": {}
      },
      "id": "postgres-check",
      "name": "PostgreSQL — Check Case Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2250, 200],
      "credentials": { "postgres": { "id": "1", "name": "Notra24 DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-still-open",
              "leftValue": "={{ $json.status }}",
              "rightValue": "open",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-still-open",
      "name": "IF — Still Open?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2500, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ec.phone, ec.name FROM emergency_contacts ec JOIN customers c ON c.id = ec.customer_id WHERE (c.device_id_hub = '{{ $('Webhook — Alarm Received').item.json.device_id }}' OR c.device_id_mobile = '{{ $('Webhook — Alarm Received').item.json.device_id }}') AND ec.priority = 1 LIMIT 1",
        "options": {}
      },
      "id": "postgres-contact",
      "name": "PostgreSQL — Get Emergency Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2750, 200],
      "credentials": { "postgres": { "id": "1", "name": "Notra24 DB" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"received\",\"device_id\":\"{{ $('Webhook — Alarm Received').item.json.device_id }}\"}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"unknown_device\",\"device_id\":\"{{ $('Webhook — Alarm Received').item.json.device_id }}\"}"
      },
      "id": "respond-unknown",
      "name": "Respond Unknown Device",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 500]
    }
  ],
  "connections": {
    "Webhook — Alarm Received": {
      "main": [
        [
          { "node": "PostgreSQL — Customer Lookup", "type": "main", "index": 0 },
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "PostgreSQL — Customer Lookup": {
      "main": [
        [{ "node": "IF — Customer Found?", "type": "main", "index": 0 }]
      ]
    },
    "IF — Customer Found?": {
      "main": [
        [{ "node": "IF — Heartbeat?", "type": "main", "index": 0 }],
        [{ "node": "Respond Unknown Device", "type": "main", "index": 0 }]
      ]
    },
    "IF — Heartbeat?": {
      "main": [
        [{ "node": "PostgreSQL — Save Heartbeat", "type": "main", "index": 0 }],
        [{ "node": "HTTP — Forward to Next.js", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — Forward to Next.js": {
      "main": [
        [{ "node": "IF — SOS or Fall?", "type": "main", "index": 0 }]
      ]
    },
    "IF — SOS or Fall?": {
      "main": [
        [{ "node": "FreePBX — Call Operators", "type": "main", "index": 0 }],
        []
      ]
    },
    "FreePBX — Call Operators": {
      "main": [
        [{ "node": "Wait 120s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 120s": {
      "main": [
        [{ "node": "PostgreSQL — Check Case Status", "type": "main", "index": 0 }]
      ]
    },
    "PostgreSQL — Check Case Status": {
      "main": [
        [{ "node": "IF — Still Open?", "type": "main", "index": 0 }]
      ]
    },
    "IF — Still Open?": {
      "main": [
        [{ "node": "PostgreSQL — Get Emergency Contact", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
